@font-face {
  font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
    font-weight: bold;
  }

  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  .divWithMeahings {
    width: 900px;
    height: 260px;
    margin: 30px auto;
    background: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 20px;
  }

  .aboutColumnWrapp {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
  }

  .smallestColumn,
  .bigestColumn {
    background-color: #D9D9D9;
    width:300px;
    border-radius: 5px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 16px;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .mapElement{ 
    margin: 0 auto;
    width: 600px; 
    display:flex; 
    flex-direction: row; 
    display:grid; 
    grid-template-columns: repeat(3, 1fr); 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  @media (max-width: 820px) {
    .aboutColumnWrapp {
      
      padding: 30px 40px;
      
    }
  
    .smallestColumn,
    .bigestColumn {
      font-size: 18px;
      padding: 16px;
    }
  }
  
  @media (max-width: 760px) {
    .aboutColumnWrapp {
      
      padding: 30px 40px;
      
    }
  
    .smallestColumn,
    .bigestColumn {
      font-size: 15px;
      padding: 16px;
      height: 120px;
      width: 200px;
    }
  }
  
  @media (max-width: 555px) {
    .aboutColumnWrapp {
      flex-direction: column;    
      
    }
    .smallestColumn,
    .bigestColumn {
      /* margin-top: 20px; */
      margin: 20px auto 0px;
    }
  }


@media (max-width: 1024px) {
  .divWithMeahings {
    width: 80%;
    font-size: 16px;
    padding: 20px;
  }
}

@media (max-width: 720px) {
  .divWithMeahings {
    font-size: 15px;
    padding: 10px;
    height: 230px;
  }
}

@media (max-width: 540px) {
  .divWithMeahings {
    font-size: 15px;
    padding: 8px;
    height: 320px;
  }
}

@media (max-width: 425px) {
  .divWithMeahings {
    font-size: 14px;
    padding: 8px;
    height: 360px;
  }
}
